{% extends 'index.html' %}
{% load static %}
{% static "pdf" as baseURL %}

{% block content %}

        <div id="page" class="container">
	        <div id="main">
		        <div id="featured">
			        <div class="title">
				        <h2>CNNS Presentations</h2>
				        <span class="byline">(Click on the State to download)</span>
			        </div>
			        <ul class="style1 presentation" > 
						{% for s1 in states %}
				        <li id="presentation">
                            <a href="{{s1.area_id}}" target="_blank"  alt="India State wise NFHS-5 Reports">{{ s1.area_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
		        </div>
	        </div>
        </div>
  
{% endblock %}